<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <%= link_to 'Event Management', root_path, class:"navbar-brand"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
          <% if staff_signed_in? %>
      <li class="nav-item">
          <%= link_to "Add Event", new_event_path, class:"nav-link" %>
        </li>
      <li class="nav-item">
        <%= link_to "Events", events_path, class:"nav-link"%>
      </li>
        <li class="nav-item">
          <%= link_to "Sign Out", destroy_staff_session_path, method: :delete, data: { turbo_method: :delete}, class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Edit Profile", edit_staff_registration_path, class:"nav-link"%>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign Up", new_staff_registration_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Sign In", new_staff_session_path, class:"nav-link"%>
        </li>
      <% end %>
    </ul>

    <div class="gmailtext">
    <% if staff_signed_in? %>
      <%= current_staff.name %>
    <% end %>
    </div>
  </div>
</nav>